@import '../../assets/css/base.scss';


.g-next{
	width:4rem;
	height:30px;
	line-height: 30px;
	text-align: center;
	margin:.4rem auto;
	@include br(20px);
	border:1px solid #aaa;
	@include pos(r);
	&:before{
		content:'';
		@include pos(a);
		left:1.5%;
		width:97%;
		height:102%;
		@include br(20px);
		border:1px solid #aaa;
		box-sizing:border-box;
		border-top: none;
		border-bottom:none;
	}
	&.active{
		@include transform(scale(.95));
		&:before{
			box-shadow: 0 0 20px rgba(24,47,96,.7),0 0 20px rgba(24,47,96,.2) inset;
			left:0;
			border:none;
			width:100%;
		}
	}
}