@import "../../assets/css/base.scss";


.fly-game-view-ui{
	width:100%;
	height:100%;
	@include pos(a);
	left:0;
	top:0;
	.g-top-bg{
		@include pos(a);
		left:0;
		top:0;
	}
	.g-rule{
		@include pos(a);
		right:0;
		top:.5rem;
		background:rgba(255,255,255,.8);
		font-size:.2rem;
		padding:7px 10px;
		border-bottom-left-radius: 14px;
		border-top-left-radius: 14px;
		text-align: center;
	}

	.g-rank{
		@include displayBox(horizontal);
		width:7rem;
		margin:2rem auto 0;
		color:#fff;
		div{
			&:nth-of-type(1){
				span.g-big{
					font-size:.6rem;
					color:#00fffc;
				}
				margin-right:.5rem;
			}
			&:nth-of-type(2){
				border:1px solid #a9a9a9;//395478
				padding:1px 10px;
				@include br(.8rem);
				@include pos(r);
				&:before{
					content:'';
					@include pos(a);
					width:100%;
					@include br(.8rem);
					height:100%;
					left:0;
					top:0;
					box-shadow:0 0 10px rgba(169,169,169,.8),0 0 10px rgba(169,169,169,.2) inset;
				}

			}

		}
		.g-ball{
			width:.5rem;
			display:inline-block;

		}
		.g-score{
			font-size:.6rem;
			color:#ffcc00;
		}
		.g-line{
			display: inline-block;
			@include transform(scaleX(.2));
			@include pos(r);
			top: -2px;
		}
		.g-text{
			@include pos(r);
			top: -2px;
		}

	}

	.g-info{
		width:6rem;
		color:#fff;
		background:rgba(255, 255,255,.3);
		line-height:30px;
		@include br(.3rem);
		padding:0 1px;
		text-align: center;
		margin:.4rem auto;
		@include pos(r);
		img{
			width:.6rem;
			margin-top:.2rem;
			@include pos(a);
			@include animation(info 1s 4 ease-out alternate)
		}
	}
	.g-cards-C{
		width:7.8rem;
		margin:0 auto;
		@include transform3d();
		.g-cards-item{
			float: left;
			width:2.2rem;
			@include transform3d();
			height:3.8rem;
			margin: .2rem;
			box-sizing:border-box;
			@include pos(r);
			
			
			&:nth-of-type(3n+1){
				@include transform(translate3d(2.6rem,-17rem,0))
			}
			&:nth-of-type(3n-1){
				@include transform(translate3d(0,-17rem,0))
			}
			&:nth-of-type(3n){
				@include transform(translate3d(-2.6rem,-17rem,0))
			}
			&.show{
				@include transform(translate3d(0,0,0));
				@include transition(.2s);
			}
			&.selected{
				&:before{
					content:'';
					@include pos(a);
					width:100%;
					height:100%;
					left:0;
					top:0;z-index: 1000;
					border:1px solid #49cefa;
					@include br(2px);
					box-sizing:border-box;
					box-shadow:0 0  10px 2px rgba(73,206,250,1)
				}
			}
			backface-visibility: hidden;
			&.active{
				@include transform(rotateY(180deg));

			}
			&>div{
				backface-visibility: hidden;
				@include pos(a);
				left:0;
				top:0;
				z-index:1;
				&:nth-of-type(2){
					z-index:0;
					@include transform(translate3d(0,0,-1px) rotateY(180deg));
				}
			}
		}
	}

	.g-choose-btn{
		width:4rem;
		height:30px;
		line-height:30px;
		text-align: center;
		@include pos(a);
		bottom:1.5rem;
		color:#fff;
		background:#999;
		border:1px solid #fff;
		@include br(15px);
		left:3rem;
	}
	.g-tigger-list{
		width:8rem;
		height:1rem;
		left:1rem;
		@include pos(a);
		bottom:.2rem;
		@include displayBox(horizontal);
		li{
			width:1rem;
			height:1rem;
			background:#fff;
			margin:0 .1rem;
			@include br(4px);
		}
	}

	.g-result{
		@include pos(a);
		width:8rem;
		height:80vh;
		top:10vh;
		left:1rem;
		.g-portrait{
			
			width:4rem;
			@include pos(r);
			margin:1.5rem auto .2rem;
			.g-portrait-bg{
				$size:2.83rem;
				width:$size;
				height:$size - .1;
				@include pos(a);
				@include br(60px);
				border-bottom-left-radius: 46px;
				border-bottom-right-radius: 40px;
				left:.56rem;
				top:.7rem;
			}
		}
		.g-tigger-name{
			width:100%;
			text-align: center;
			font-size: .5rem;
		}
		.g-tigger-info{
			width:7rem;
			height:100px;
			margin:0 auto;
			tr{
				td{
					&:nth-of-type(1){
						width:1.8rem;
					}
					vertical-align: top;
					font-size: .2rem;
				}
			}
		}
	}
}

@-webkit-keyframes info {
	to{
		@include transform(translate3d(0,10px,0));
	}
}