@import "../../assets/css/base.scss";

.g-message{
	@include pos(a);
	
	height:30px;
	line-height: 30px;
	text-align: center;
	left:50%;
	padding:0 2px;
	top:2rem;
	color:#fff;
	@include br(5px);
	@include transform(translate3d(-50%,-4rem,0));
	opacity:0;
	@include transition(.2s);
	&:before{
		content:"";
		@include pos(a);
		left:0;
		top:0;
		width:100%;
		height:100%;
		box-shadow: 0 0 20px rgba(255,255,240,.4);
		@include br(5px);

	}
	&.active{
		@include transform(translate3d(-50%,0,0));
		opacity:1;
	}
	background:#777;
	z-index: 100000;
}

.fly-game-view-ui{
	width:100%;
	height:100%;
	@include pos(a);
	left:0;
	top:0;
	z-index: -1;
	opacity:0;
	@include transition(1s);
	&.show{
		z-index: 1;
		opacity:1;
	}
	.g-top-bg{
		@include pos(a);
		left:0;
		top:0;
	}

	.fly-scrore-list{
		&.active{
			@include transform(translate3d(0,0,0));
			opacity:1;
		}
		opacity:0;
		@include transform(translate3d(0,-100%,0));
		@include transition(.3s);

		 @include pos(f);
		 z-index: 9999;
		 left:0;
		 top:0;
		 width:100%;
		 color:#fff;
		 height:100%;
		 background:rgba(0,0,0,.9);
		 h2{
		 	height: 30px;
		 	line-height: 30px;
		 	color:#Fff;
		 	font-size:.8rem;
		 	text-align: right;
		 	padding-right:10px;
		 }
		 h3{
		 	  font-weight:normal;
		 	  text-align: center;
		 	  color:#ffca3d;
		 	  font-size:.8rem;
		 }
		 .fly-score-title{
		 		@include displayBox(horizontal);
		 		width:90%;
		 		
		 		margin:.3rem auto;
		 		line-height: 30px;
		 		border-bottom:1px solid #999;
		 		li{
		 			text-align: center;
		 			color:#999;
		 			&:nth-of-type(1){width:25%;}
		 			&:nth-of-type(2){width:50%;}
		 			&:nth-of-type(3){width:25%;}
		 		}
		 }
		 .fly-scroll-C ul{
		 		 width:90%;
		 		 margin:0 auto;
		 		 li{
			 		 	@include displayBox(horizontal);
		 				div{
					 			text-align: center;
					 			&:nth-of-type(1){width:25%;font-style:italic;	color:#00a1d9;}
					 			&:nth-of-type(2){width:50%;}
					 			&:nth-of-type(3){width:25%;}
					 			height:30px;
					 			line-height: 30px;
					 		}
					 	&:nth-of-type(1){
					 		font-size:.8rem;
					 		height:50px;
					 		color:#ff4242;
					 		div:first-of-type{
					 			color:#ff4242;
					 		}
					 	}
					 	&:nth-of-type(2){
					 		font-size:.7rem;height:40px;color:#ff6138;
						 	div:first-of-type{
						 			color:#ff6138;
						 		}
						 }
					 	&:nth-of-type(3){
					 			font-size:.6rem;
					 			height:40px;
					 			color:#ffca3d;
								div:first-of-type{
									color:#ffca3d;
								}
					 		}

		 		 }
		 }
	}

	
	.g-rule{
		@include pos(a);
		right:0;
		top:.5rem;
		background:rgba(255,255,255,.8);
		
		padding:7px 10px;
		border-bottom-left-radius: 14px;
		border-top-left-radius: 14px;
		text-align: center;
	}

	.g-rank{
		@include displayBox(horizontal);
		width:7rem;
		margin:2rem auto 0;
		color:#fff;
		div{
			&:nth-of-type(1){
				span.g-big{
					font-size:.6rem;
					color:#00fffc;
				}
				margin-right:.5rem;
			}
			&:nth-of-type(2){
				border:1px solid #a9a9a9;//395478
				padding:1px 10px;
				@include br(.8rem);
				@include pos(r);
				&:before{
					content:'';
					@include pos(a);
					width:100%;
					@include br(.8rem);
					height:100%;
					left:0;
					top:0;
					box-shadow:0 0 10px rgba(169,169,169,.8),0 0 10px rgba(169,169,169,.2) inset;
				}

			}

		}
		.g-ball{
			width:.5rem;
			display:inline-block;

		}
		.g-score{
			font-size:.6rem;
			color:#ffcc00;
		}
		.g-line{
			display: inline-block;
			@include transform(scaleX(.2));
			@include pos(r);
			top: -2px;
		}
		.g-text{
			@include pos(r);
			top: -2px;
		}

	}

	.g-info{
		width:6rem;
		color:#fff;
		background:rgba(255, 255,255,.3);
		line-height:30px;
		@include br(.3rem);
		padding:0 1px;
		text-align: center;
		margin:.4rem auto;
		@include pos(r);
		img{
			width:.6rem;
			margin-top:.2rem;
			@include pos(a);
			@include animation(info 1s 50 ease-out alternate)
		}
	}
	.g-cards-C{
		width:7.8rem;
		margin:0 auto;
		@include pos(r);
		@include transform3d();
		.g-cards-item{
			float: left;
			width:2.2rem;
			@include transform3d();
			height:3.8rem;
			margin: .2rem;
			box-sizing:border-box;
			@include pos(r);
			
			
			&:nth-of-type(3n+1){
				@include transform(translate3d(2.6rem,-17rem,0))
			}
			&:nth-of-type(3n-1){
				@include transform(translate3d(0,-17rem,0))
			}
			&:nth-of-type(3n){
				@include transform(translate3d(-2.6rem,-17rem,0))
			}
			&.show{
				@include transform(translate3d(0,0,0));
				@include transition(.2s);
			}
			&.selected{
				&:before{
					content:'';
					@include pos(a);
					width:100%;
					height:100%;
					left:0;
					top:0;z-index: 1000;
					border:1px solid #49cefa;
					@include br(2px);
					box-sizing:border-box;
					box-shadow:0 0  10px 2px rgba(73,206,250,1)
				}
			}
			backface-visibility: hidden;
			&.active{
				@include transform(rotateY(180deg));

			}
			&>div{
				backface-visibility: hidden;
				@include pos(a);
				left:0;
				top:0;
				z-index:1;
				&:nth-of-type(2){
					z-index:0;
					@include transform(translate3d(0,0,-1px) rotateY(180deg));
					img:nth-of-type(2){
						@include pos(a);
						left:15%;
						top:20%;
						width:70%;
						@include transform(translate3d(0,-50%,0));
					}
					.g-portrait-img{
						@include pos(a);
						left:0;
						top:50%;
						width:2rem;
						height:2rem;
						@include br(50%);
						@include transform(translate3d(0,-50%,0));
						overflow:hidden;
					}
				}
			}
		}
	}

	.g-choose-btn{
		width:4rem;
		height:30px;
		line-height:30px;
		text-align: center;
		@include pos(a);
		bottom:1.5rem;
		color:#fff;
		background:#999;
		border:1px solid #fff;
		@include br(15px);
		left:3rem;
		
		&.active{
			@include transform(scale(.97));
			
			&:before{
				content:"";
				@include pos(a);
				left:0;
				top:0;
				width:100%;
				@include br(15px);
				height:100%;
				box-shadow: 0 0 20px rgba(255,255,255,.7);
			}
		}
	}
	.g-tigger-list{
		width:8rem;
		height:1rem;
		left:1rem;
		@include pos(a);
		bottom:.2rem;
		@include displayBox(horizontal);
		li{
			width:1rem;
			height:1rem;
			background:#fff;
			margin:0 .1rem;
			@include br(4px);
		}
	}


	.g-result{
		@include pos(a);
		width:8rem;
		height:80vh;
		left:1rem ;
		top:10vh;
		z-index: 100;
		opacity:0;
		display:none;
		@include transition(.5s);
		&.active{
			opacity:1;
			@include transitionTimingFunction(cubic-bezier(0.49, 1.52, 0.38, 0.84));
			@include transform(translate3d(0,0,10px) scale(1));
		}

		@include transform(translate3d(0,0,10px) scale(.3));
		.g-right{
			width:1.8rem;
			@include pos(a);
			right:.6rem;
			top:.1rem;
			z-index: 10;
		}
		&.show{
			
		}
		display:none;
		//
		.g-look{
			@include pos(a);
			width:100%;
			bottom:1rem;
		}
		.g-portrait{
			
			width:4rem;
			@include pos(r);
			margin:1.5rem auto .2rem;
			.g-portrait-bg{
				$size:2.83rem;
				width:$size;
				height:$size - .1;
				@include pos(a);
				@include br(60px);
				border-bottom-left-radius: 46px;
				border-bottom-right-radius: 40px;
				left:.56rem;
				top:.7rem;
			}
		}
		.g-tigger-name{
			width:100%;
			text-align: center;
			font-size: .5rem;
		}
		.g-tigger-info{
			width:7rem;
			height:100px;
			margin:0 auto;
			tr{
				td{
					a{color:#222;}
					&:nth-of-type(1){
						width:1.8rem;
						color:#222;
						text-align: center;
					}
					&:nth-of-type(2){
						color:#330000;
					}
					vertical-align: top;
				}
			}
		}

		article{
			@include  transform3d();
			@include transition_transform(.2s);
			&.active{
				@include transform(rotateY(0deg));
				@include transitionTimingFunction(cubic-bezier(0, 1.05, 0.61, 0.97));
			}
			height:100%;
			.g-back{
				@include pos(a);
				left:0;
				top:0;
				width:100%;
				height:100%;
				z-index: 0;
				@include transform(translate3d(0,0,-1px) rotateY(180deg));
			}
			.g-result-C{
				@include pos(a);
				left:0;
				top:0;
				width:100%;
				height:100%;
				@include transform(translate3d(0,0,1px));

			}
		}

		
		
	}
}


@-webkit-keyframes info {
	to{
		@include transform(translate3d(0,10px,0));
	}
}

@media all and (max-height:460px) {
	.fly-game-view-ui{
		 .g-result{
		 	height:88vh;
		 	top:6vh;
		 	&.active{

		 	}
		 }
	}
	.r-main-ui{
		 .r-content-C{
		 	height:100vh !important;
		 }
	}
}