@import '../../assets/css/base.scss';

.r-main-ui{
	@include pos(f);
	left:0;
	top:0;
	width:100vw;
	height:100vh;
	opacity:0;
	z-index: -1;
	&.show{
		opacity:1;
		z-index: 10;
		@include transition(.4s);
	}
	.r-board{
		width:10rem;
		@include pos(a);
		height:100%;
		box-sizing:border-box;
		@include transform(scale(1.2));
		@include transition(1s);
		
	}

	&.active{
		.r-board{
			@include transform(scale(1.44));
		}
		.r-content-C{
			@include transform(scale(1));
		}
	}

	.r-content-C{
		@include transition(1s);
		@include pos(r);
		@include transform(scale(.8));
		
		z-index: 100;
		width:8rem;
		margin:.5rem auto;
		height:90vh;
		h1{
			height:24vh;
		}
		h3{
			font-weight: normal;
			text-align: center;
			font-size:.4rem;
			color:#1f0b13;
		}
		p{
			
			width:70%;
			margin:.2rem auto 0;
			@include transform(scale(.9))
		}
		.r-score-C{
			width:51%;
			margin:0 auto;
			text-align: center;
			color:#19396a;
			
		}
		.r-rank{
			width:4rem;
			margin:0 auto;
		}
		.r-tel{
			margin:.3rem auto;
			text-align: center;
			input{height:24px;line-height: 24px;border:1px solid #eee;@include br(4px);padding-left:10px;}
		}
		.r-mark{
			width:73%;
			margin:0 auto;
			@include pos(r);
			height:20px;
			span{
				display:inline-block;
				@include pos(a);
				left:-10px;
				@include transform(scale(.8));
				&:nth-of-type(2){
					right:0;
					color:#ffa200;
					left:auto;
					&:after{
						content:'?';
						@include pos(a);
						width:15px;
						height:15px;
						background: #555b64;
						line-height: 15px;
						color:#fff;
						top:3px;
						text-align: center;
						@include br(50%);
						@include transform(scale(.8));
					}
				}
			}
		}

		.r-btn-group{
			width:70%;
			margin:.5rem auto;
			text-align: center;
			span{color:#222;@include transform(scale(.8));display:inline-block}

			.g-next{
				color:#393e46;
			}
			
		}
		.r-restart{
			margin:0 auto;

			.g-next{
				
				margin:.4rem auto 0;
				color:#ffa200;
				img{
					width:.4rem;
					margin-top: .26rem;
					margin-left: .1rem;
				}
			}	
		}
	}

	.r-mask{
		@include pos(f);
		width:100%;
		height:100%;
		left:0;
		top:0;
		z-index: 10000;
	}
}