.r-main-ui {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  z-index: -1; }
  .r-main-ui .r-dialog {
    width: 8rem;
    background: #fff;
    border-radius: 20px;
    position: absolute;
    left: 1rem;
    top: 5rem;
    z-index: 10000; }
    .r-main-ui .r-dialog h1 {
      text-align: right; }
    .r-main-ui .r-dialog div:first-of-type {
      margin: 0 auto .5rem;
      width: 90%;
      color: #1f56a8; }
    .r-main-ui .r-dialog div:nth-of-type(2) {
      width: 90%;
      margin: 0 auto; }
      .r-main-ui .r-dialog div:nth-of-type(2) input {
        width: 100%;
        height: 24px;
        line-height: 24px;
        border-radius: 4px;
        border: 1px solid #ccc;
        padding-left: 10px;
        box-sizing: border-box; }
    .r-main-ui .r-dialog .r-btns {
      display: -webkit-box;
      -webkit-box-align: center;
      -webkit-box-pack: center;
      -webkit-box-orient: horizontal; }
      .r-main-ui .r-dialog .r-btns aside {
        -webkit-box-flex: 1; }
      .r-main-ui .r-dialog .r-btns .g-next {
        width: 3rem;
        margin: 1rem auto; }
    .r-main-ui .r-dialog section {
      width: 90%;
      margin: 0 auto; }
  .r-main-ui.show {
    opacity: 1;
    z-index: 10;
    -webkit-transition: 0.4s;
    transition: 0.4s; }
  .r-main-ui .r-board {
    width: 10rem;
    position: absolute;
    height: 100%;
    box-sizing: border-box;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: 1s;
    transition: 1s;
    opacity: 0; }
  .r-main-ui .r-designation {
    position: absolute;
    z-index: 200;
    top: -1rem;
    width: 8rem;
    left: 1rem;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: 1s 2s;
    transition: 1s 2s;
    -webkit-transition-timing-function: cubic-bezier(0.49, 1.52, 0.38, 0.84);
    transition-timing-function: cubic-bezier(0.49, 1.52, 0.38, 0.84); }
    .r-main-ui .r-designation.show {
      -webkit-transform: scale(1);
      transform: scale(1); }
    .r-main-ui .r-designation span {
      position: absolute;
      left: 3rem;
      text-align: center;
      top: 3.7rem;
      color: #f1a900;
      width: 2rem; }
  .r-main-ui.active .r-board {
    -webkit-transform: scale(1.44);
    transform: scale(1.44);
    opacity: 1; }
  .r-main-ui.active .r-content-C {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  .r-main-ui .g-next img {
    width: .4rem;
    margin-left: .2rem;
    margin-top: .3rem; }
  .r-main-ui .r-content-C {
    -webkit-transition: 1s;
    transition: 1s;
    position: relative;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    z-index: 100;
    width: 8rem;
    margin: .5rem auto;
    height: 90vh; }
    .r-main-ui .r-content-C h1 {
      height: 24vh; }
    .r-main-ui .r-content-C h3 {
      font-weight: normal;
      text-align: center;
      font-size: .4rem;
      color: #1f0b13; }
    .r-main-ui .r-content-C p {
      width: 70%;
      margin: .2rem auto 0;
      -webkit-transform: scale(0.9);
      transform: scale(0.9); }
    .r-main-ui .r-content-C .r-score-C {
      width: 51%;
      margin: .2rem auto;
      text-align: center;
      color: #19396a;
      font-size: .5rem; }
    .r-main-ui .r-content-C .r-rank {
      width: 4rem;
      margin: 0 auto; }
    .r-main-ui .r-content-C .r-tel {
      margin: .3rem auto;
      text-align: center; }
      .r-main-ui .r-content-C .r-tel input {
        height: 24px;
        line-height: 24px;
        border: 1px solid #eee;
        border-radius: 4px;
        padding-left: 10px; }
    .r-main-ui .r-content-C .r-mark {
      width: 77%;
      margin: 0 auto;
      position: relative;
      height: 40px; }
      .r-main-ui .r-content-C .r-mark span {
        display: inline-block;
        position: absolute;
        left: -10px;
        -webkit-transform: scale(0.8);
        transform: scale(0.8); }
        .r-main-ui .r-content-C .r-mark span:nth-of-type(3) {
          color: #ffa200;
          top: 20px;
          left: 0; }
          .r-main-ui .r-content-C .r-mark span:nth-of-type(3):after {
            content: '?';
            position: absolute;
            width: 15px;
            height: 15px;
            background: #555b64;
            line-height: 15px;
            color: #fff;
            top: 3px;
            text-align: center;
            border-radius: 50%;
            -webkit-transform: scale(0.8);
            transform: scale(0.8); }
        .r-main-ui .r-content-C .r-mark span:nth-of-type(2) {
          right: 0;
          color: #1f56a8;
          left: auto; }
    .r-main-ui .r-content-C .r-btn-group {
      width: 70%;
      margin: .5rem auto;
      text-align: center; }
      .r-main-ui .r-content-C .r-btn-group span {
        color: #222;
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        display: inline-block; }
      .r-main-ui .r-content-C .r-btn-group .g-next {
        color: #393e46; }
    .r-main-ui .r-content-C .r-restart {
      margin: 0 auto; }
      .r-main-ui .r-content-C .r-restart .g-next {
        margin: .4rem auto 0; }
        .r-main-ui .r-content-C .r-restart .g-next img {
          width: .4rem;
          margin-top: .26rem;
          margin-left: .1rem; }
  .r-main-ui .r-mask {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10000; }

/*# sourceMappingURL=result.css.map */
